*{
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
}

body{   
    height: 100%;
    width: 100%;
    filter: brightness(65%);
}

#background{
    background-image: url("https://i.pinimg.com/originals/d5/ce/a3/d5cea3800a9f7f6e93ac1026aea0e4ed.jpg"); 
    opacity: 1;
    height: 100%;
    width: 100%;
    background-size: cover;
}

h2{
    text-align: center;
    position: absolute;
    top: 20vh;
}


#contactme_wrapper{
    background: rgba(0,0,255,0.1);
    /* background: lightblue; */
    width: 75vw;
    max-width: 100vw;
    height: 100vh;
    max-height: 100vh;
    display: flex;
    justify-content: center;
    margin: auto;
}

#form_wrapper{
    display: flex;
    justify-content: center;
    width: 100%;
    margin: auto;
}

#contactme_form{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;

}

#submit_button{
    background: transparent;
    width: 10vw;
    color: white;
    border: 0.2vh solid white;
    font-size: 5vh;
}

#submit_button_wrapper{
    display: flex;
    justify-content: center;
    width: 100%;
    
}

.textarea_wrapper{
    width: 100%;
}

.basic_input{
    width: 50vw;
    height: 8vh;
    background: rgba(0, 0, 0, 0.7);
    border: 0.2vh solid white;
    color: white;
    font-size: 3vh;
}

textarea{
    width: 50vw;
    background: rgba(0, 0, 0, 0.8);
    border: 0.2vh solid white;
    color: white;
    font-size: 3vh;
    padding: 1vh 0 0 1vw;
}

h1{
    color: white;
    width: 100%;
    text-align: center;
    font-size: 10vh;
}

.main_header{
    color: white;
}

.basic_input:focus{
    background: rgba(0, 0, 0, 0.7);
}

#message:focus{
    background: rgba(0, 0, 0, 0.7);
}

#submit_button{
    background: rgba(0, 0, 0, 0.8);
    border: 2px solid white;
    font-weight: bold;
    padding: 5px;
}

#submit_button:hover{
    cursor: pointer;
    background: rgba(40, 255, 144, 0.7);
}


input[type="text"], input[type="email"]{
    font-size: 3vh;
    padding-left: 1vw;
}


input[type="text"]::placeholder, input[type="email"]::placeholder{
    color: white;
    padding: 1vh 0 0 1vw;
}

textarea::placeholder{
    position:fixed;
    text-indent: 1vw;
    padding: 15vh 0 0 15vw;
    color: white;
}


